<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/stylesheet.css">

    <script>

        var emp_ID = '<%= employee_IDs %>';
        //console.log(x);
        document.addEventListener('DOMContentLoaded', () => {        
            //By default, submit button is disable
            document.querySelector('#btn').disabled = true;
            document.querySelector('#btn').style = "cursor: not-allowed";
            document.querySelector('#rollerCoasterName').onchange = () => { 

                var ddl = document.getElementById("rollerCoasterName");
                var selectedValue = ddl.options[ddl.selectedIndex].value;

                if (selectedValue != '') {
                    document.querySelector('#btn').disabled = false;
                    document.querySelector('#btn').style = "cursor: pointer";
                }

                else {
                    document.querySelector('#btn').disabled = true;
                    document.querySelector('#btn').style = "cursor: not-allowed";
                    }  

            }  

            document.querySelector('#rideStatus').onchange = () => { 

                var ddl = document.getElementById("rideStatus");
                var selectedValue = ddl.options[ddl.selectedIndex].value;

                if (selectedValue == "Completed") {
                    document.querySelector('#completionDate').required = true;

                }
                if (selectedValue == "On-going") {
                    document.querySelector('#completionDate').required = false;

                }
            }
        })

        function checkValidation() {
            //document.querySelector('form').onsubmit = () => {
            //const input_ID = "hi ";
            
            const inp = document.getElementById("employeeID").value;
            //var temp = document.getElementById("rollerCoasterName");
            //var ride_name = temp.options[temp.selectedIndex].value;
            //console.log(ride_name);
            /*if (inp != "34") {
                alert("NOt a valid ID");
                return false;
            }
            return true;*/
            
            //console.log(inp);  
            //console.log(emp_ID);              
            //var valid_ID = false;
            if (!emp_ID.includes(inp)) {
                alert("Not a valid ID");                    
                return false;
            }  
                
            return true;           
        } 

    </script>

</head>
<body>
    <div class="container">

        <div class="header">
            <%- include ('templates/header.ejs') %>
        </div>
        <div class="header-r">
            <%- include ('templates/header_r.ejs') %>
        </div>

        <div class="navigation" style="border-right: 1px solid #000;">
            <%- include ('templates/navigation.ejs') %>
        </div>

        <div class="content">
            <div class="_50" style="text-align: center; font-size: 18px; font-weight: bold;">ADD A NEW MAINTENANCE</div>
            <div class="_50">
                        
                <br><br>
           
                
                                     
            </div>
            <form id="addMaintenance" onsubmit="return checkValidation()" action="/maintenance" method="POST">
                <div style="font-size: 12px;">
                    <div class="_50">                        
                        Roller coaster's name 
                        <br>
                        <select id="rollerCoasterName" name="rollerCoasterName" required>                        
                            <option value=''>
                            <option value="Mountain Rider Coaster">Mountain Rider Coaster
                            <option value="GhostRider">GhostRider
                            <option value="Smoky Mountain Coaster">Smoky Mountain Coaster
                            </option>
                        </select>
                                     
                    </div>
                    <div class="_25">
                        
                        
                    </div>
                    
                    <div class="_25">
                        
                        <br><br><br>
                        <br>
                        
                                             
                    </div>
                    <div class="_30">
                        Employee's ID<br>
                        <input type="text" id="employeeID" min="0" max="10000" placeholder="0000" name="employee_ID" style="width: 69%" required>
                        <br><br><br>
                        Starting date<br>                        
                        <input type="date" placeholder="YYYY-MM-DD" name="startingDate" style="width: 69%" required>                                       
                    </div>
                    
                    <div class="_30">
                        Status 
                        <br>
                        <select name="rideStatus" id="rideStatus" required>  
                            <option>                 
                            <option value="On-going">On-going
                            <option value="Completed">Completed
                            </option>
                        </select>
                        <br><br><br>    
                        Completion date<br>                        
                        <input type="date" placeholder="YYYY-MM-DD" id="completionDate" name="completionDate" style="width: 69%">                       
                    </div>

               
                

                    <div class="_25">
                        
                        <br><br><br>
                        <br><br><br>
                        <br><br><br>
                        <br>
                                             
                    </div>
                    
                    <div class="_50">
                        <br><br>
                        <input id="btn" type="submit">
                    </div>                                        
                </div>
                                  
            </form>           
        </div>

        <div class="footer" style="font-size: 12px;">Team 12 - COSC 3080 - Tue/Thu Class</div>
    </div>
</body>
</html>