<div class='bar'>View</div>
<br>
<!--<a href="/ride_frequency">Search Ride Frequency</a></br></br>
<a href="/rainouts">Rainouts</a></br></br> -->
<a href="/search_rainouts">Rainout Report</a></br></br>
<a href="/search_maintenance">Maintenance Report</a></br></br>


<div class='bar'>Add</div>
<br>
<!-- <a href="/report_admission">Daily Admission</a></br></br> -->
<a href="/report_ridden_ride"> Add a Ride</a></br></br>
<a href="/report_maintenance">Add a Maintenance</a></br></br>
<a href="/report_rainout">Add a Rainout </a><br><br>


<div class='bar'>Update</div>
<br>
<a href="/modify_maintenance">Update Maintenance Status </a>